  <form class="form-group" action="/definition_new" method="post">
    <input type="hidden" name="new_definition_word_id" value="<%= @new_definition_word_id %>">

    <label for="second_definition">Definition:</label>
    <input class="form-control" type="text" name="second_definition">
    <label for="second_speach">Part of Speach:</label>
    <input class="form-control" type="text" name="second_speach">
    <br>
    <button type="submit" class="btn btn-primary">Add Definition</button>
  </form>
